.box {
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    height: 200px;
    width: 600px;
    position: relative;
    padding: 10px;
    margin-top: 20px;
}
.box p {
    text-align: justify;
}

.favButton {
    cursor: pointer;
    width: fit-content;
    position: absolute;
    right: 10px;
    bottom: 10px;
}